name: my_flutter_app
description: تطبيق Flutter بسيط يعرض أهلا وسهلا
publish_to: 'none' # يمنع نشر الباكيج على pub.dev
version: 1.0.0+1

environment:
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true

  assets:
    # إذا أردت إضافة صور يمكنك إضافتها هنا
    # - assets/images/
