name: lian
description: A Flutter app that generates videos using native Android code.
publish_to: "none" # يمنع النشر إلى pub.dev
version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # مكتبات أساسية
  cupertino_icons: ^1.0.8
  path_provider: ^2.1.2
  permission_handler: ^12.0.1
  http: ^1.2.2
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
